/* Cart.css */

.cart-container {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.cart-heading svg {
    margin-right: 10px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.item-details {
    flex: 1;
}

.item-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.item-price {
    font-size: 1rem;
    color: #555;
    margin-right: 10px;
    margin-left: 50px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.btn-quantity {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
}

.item-quantity {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 5px;
}

.cart-summary {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn-clear {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-clear:hover {
    background-color: #c82333;
}

.cart-total {
    font-size: 1.2rem;
    font-weight: bold;
}

.checkout-link {
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.checkout-link:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item-details {
    margin-bottom: 10px;
  }

  .cart-summary {
    flex-direction: column;
    align-items: flex-start;
  }
}
